<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infinitysoftware.volume">

    <application
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:label="Volume"
        android:supportsRtl="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
